<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.practise">
    <!-- 外部存储文件的读取权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="com.example.practise.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.example.practise.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".titlebar.TitleBarActivity"></activity>
        <activity android:name=".rectview.RectViewActivity" />
        <activity android:name=".taglayout.TagLayoutActivity" />
        <activity android:name=".mvp.ipinfo.MVPActivity" />
        <activity android:name=".servicebest.DownloadDemoActivity" />
        <activity android:name=".customview.CustomViewActivity" />
        <activity android:name=".webview.WebViewJSActivity" />
        <activity android:name=".webview.WebviewLoadLocalHtmlActivity" />
        <activity android:name=".webview.WebviewDemoActivity" />
        <activity android:name=".HttpURLConnectionDemo.HttpURLConnectionActivity" />
        <activity android:name=".contentproviderdemo.ContentProviderDemo" />
        <activity android:name=".sqlitedemo.ShowCameraActivity" />
        <activity android:name=".sqlitedemo.SqliteDemoActivity" />
        <activity android:name=".rememberpwd.WelcomeActivity" />
        <activity android:name=".rememberpwd.LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="测试">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".counter.CounterActivity" />
        <activity android:name=".recyclerview.LinearActivity" />
        <activity android:name=".recyclerview.RecyclerViewActivity" />

        <service android:name=".counter.TimeService">
            <intent-filter>
                <action android:name="TIME_CHANGE_ACTION" />
            </intent-filter>
        </service> <!-- 注册一个ContentProvider -->
        <provider
            android:name=".contentproviderdemo.BookProvider"
            android:authorities="com.example.practise.contentproviderdemo"
            android:exported="true"
            android:readPermission="com.example.practise.READ_DATABASE"
            android:writePermission="com.example.practise.WRITE_DATABASE" />

        <service
            android:name=".servicebest.DownloadService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>